/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.gallery{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.a-img {
flex-basis: calc((100% / 4 ) - 24px);
}
.img {
  width: 400px;
  height: 220px;
  cursor: pointer;
  transition: tranform 0.250ms;
}

.img:hover{
  transform: scale(1.044, 1.04);
}